* {
  box-sizing: border-box;
}
body {
  margin:0;
  padding:0;
  border:0;
  height:"100%";
  /* margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 0;
  padding: 0 !important; */
  /* overflow: hidden; */
}
/* 
body{
  overflow: hidden;
} */

.App {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  /* background-color: pink; */
  background-color: transparent;
}

.line {
  height: 1px;
  /* background-color: #e5e5e5; */
  margin-block: 1.3rem;
}
.mt-1 {
  margin-top: 1px !important;
}
.mt-2 {
  margin-top: 2px !important;
}
.mt-3 {
  margin-top: 3px !important;
}
.mt-4 {
  margin-top: 4px !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-6 {
  margin-top: 6px !important;
}
.mt-7 {
  margin-top: 7px !important;
}
.mt-8 {
  margin-top: 8px !important;
}

.mt-1r {
  margin-top: 1rem !important;
}
.mt-2r {
  margin-top: 2rem !important;
}
.ml-1 {
  margin-top: 1px !important;
}
.ml-2 {
  margin-top: 2px !important;
}
.ml-3 {
  margin-top: 3px !important;
}
.ml-4 {
  margin-top: 4px !important;
}
.ml-5 {
  margin-top: 5px !important;
}
.ml-6 {
  margin-top: 6px !important;
}
.ml-7 {
  margin-top: 7px !important;
}
.ml-8 {
  margin-top: 8px !important;
}
.mb-1 {
  margin-top: 1px !important;
}
.mb-2 {
  margin-top: 2px !important;
}
.mb-3 {
  margin-top: 3px !important;
}
.mb-4 {
  margin-top: 4px !important;
}
.mb-5 {
  margin-top: 5px !important;
}
.mb-6 {
  margin-top: 6px !important;
}
.mb-7 {
  margin-top: 7px !important;
}
.mb-8 {
  margin-top: 8px !important;
}

.mr-1 {
  margin-top: 1px !important;
}
.mr-2 {
  margin-top: 2px !important;
}
.mr-3 {
  margin-top: 3px !important;
}
.mr-4 {
  margin-top: 4px !important;
}
.mr-5 {
  margin-top: 5px !important;
}
.mr-6 {
  margin-top: 6px !important;
}
.mr-7 {
  margin-top: 7px !important;
}
.mr-8 {
  margin-top: 8px !important;
}

.pt-1 {
  margin-top: 1px !important;
}
.pt-2 {
  margin-top: 2px !important;
}
.pt-3 {
  margin-top: 3px !important;
}
.pt-4 {
  margin-top: 4px !important;
}
.pt-5 {
  margin-top: 5px !important;
}
.pt-6 {
  margin-top: 6px !important;
}
.pt-7 {
  margin-top: 7px !important;
}
.pt-8 {
  margin-top: 8px !important;
}

.pl-1 {
  margin-top: 1px !important;
}
.pl-2 {
  margin-top: 2px !important;
}
.pl-3 {
  margin-top: 3px !important;
}
.pl-4 {
  margin-top: 4px !important;
}
.pl-5 {
  margin-top: 5px !important;
}
.pl-6 {
  margin-top: 6px !important;
}
.pl-7 {
  margin-top: 7px !important;
}
.pl-8 {
  margin-top: 8px !important;
}
.pb-1 {
  margin-top: 1px !important;
}
.pb-2 {
  margin-top: 2px !important;
}
.pb-3 {
  margin-top: 3px !important;
}
.pb-4 {
  margin-top: 4px !important;
}
.pb-5 {
  margin-top: 5px !important;
}
.pb-6 {
  margin-top: 6px !important;
}
.pb-7 {
  margin-top: 7px !important;
}
.pb-8 {
  margin-top: 8px !important;
}

.pr-1 {
  margin-top: 1px !important;
}
.pr-2 {
  margin-top: 2px !important;
}
.pr-3 {
  margin-top: 3px !important;
}
.pr-4 {
  margin-top: 4px !important;
}
.pr-5 {
  margin-top: 5px !important;
}
.pr-6 {
  margin-top: 6px !important;
}
.pr-7 {
  margin-top: 7px !important;
}
.pr-8 {
  margin-top: 8px !important;
}
